<?xml version="1.0"?>
<config>
    <modules>
        <Payment_Cybersource>
            <version>0.1.2</version>
        </Payment_Cybersource>
    </modules>
    <global>
        <models>
            <cybersource>
                <class>Payment_Cybersource_Model</class>
            </cybersource>
        </models>
        <resources>
            <cybersource_setup>
                <setup>
                    <module>Payment_Cybersource</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </cybersource_setup>
            <cybersource_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </cybersource_write>
            <cybersource_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </cybersource_read>
        </resources>
        <blocks>
            <cybersource>
                <class>Payment_Cybersource_Block</class>
            </cybersource>
        </blocks>
        <helpers>
            <cybersource>
                <class>Payment_Cybersource_Helper</class>
            </cybersource>
        </helpers>
    </global>
    <frontend>
        <routers>
            <cybersource>
                <use>standard</use>
                <args>
                    <module>Payment_Cybersource</module>
                    <frontName>cybersource</frontName>
                </args>
            </cybersource>
        </routers>
<!--        <layout>
            <updates>
                <cybersource>
                    <file>cybersource.xml</file>
                </cybersource>
            </updates>
        </layout>-->
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <Paymentinfo>
                                            <title>Payment - All</title>
                                        </Paymentinfo>
                                        <paymentinfo>
                                            <title>CyberSource SA/WM Info</title>
                                        </paymentinfo>
                                        <cybersource>
                                            <title>CyberSource SA/WM Area</title>
                                        </cybersource>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <payment>
		
            <cybersource>
                <active>0</active>
                <enable_log>1</enable_log>
                <model>cybersource/cybersource</model>
                <title>HBL</title>
                <mode>0</mode>
                <order_status>pending</order_status>
                <debug_flag>1</debug_flag>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
            </cybersource>
        </payment>
    </default>
</config>
